---
http_interactions:
- request:
    method: get
    uri: https://api.afterbuy.de/afterbuy/ShopInterfaceUTF8.aspx?Action=new&ArtikelEpreis_1=9,99&ArtikelEpreis_2=6,99&ArtikelMenge_1=1&ArtikelMenge_2=2&ArtikelMwSt_1=19&ArtikelMwSt_2=19&Artikelname_1=Product%201&Artikelname_2=Product%202&Artikelnr_1=1&Artikelnr_2=2&KLand=DE&KNachname=Client&KOrt=Carlhausen&KPLZ=12345&KStrasse=Clientstr.%204&KVorname=Carl&Kbenutzername=carl_client&Kemail=client@mail.de&PartnerID=valid_partner_id&PartnerPass=valid_partner_password&PosAnz=2&UserID=valid_user_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\r\n<result>\r\n  <success>1</success>\r\n
        \ <Action>new</Action>\r\n  <data>\r\n    <AID>123456789</AID>\r\n    <UID>{12345678-abcd-efgh-ijkl-mnopqrstuvwx}</UID>\r\n
        \   <KundenNr>123456789</KundenNr>\r\n    <EKundenNr>12345</EKundenNr>\r\n
        \   <CouponUsed>0</CouponUsed>\r\n  </data>\r\n</result>\r\n"
  recorded_at: Fri, 24 Apr 2015 10:42:15 GMT
recorded_with: VCR 2.9.3
