---
http_interactions:
- request:
    method: get
    uri: https://api.afterbuy.de/afterbuy/ShopInterfaceUTF8.aspx?Action=CheckUserId&PartnerID=valid_partner_id&PartnerPass=valid_partner_password&UserID=valid_user_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\r\n<result>\r\n  <success>1</success>\r\n
        \ <Action>CheckUserId</Action>\r\n  <data>\r\n    <UserID>123456</UserID>\r\n
        \ </data>\r\n</result>\r\n"
  recorded_at: Thu, 23 Apr 2015 16:06:16 GMT
recorded_with: VCR 2.9.3
