---
http_interactions:
- request:
    method: post
    uri: https://api.afterbuy.de/afterbuy/ABInterface.aspx
    body:
      encoding: UTF-8
      string: |-
        <Request>
          <AfterbuyGlobal>
            <PartnerID>valid_partner_id</PartnerID>
            <PartnerPassword>valid_partner_password</PartnerPassword>
            <UserID>valid_user_id</UserID>
            <UserPassword>valid_user_password</UserPassword>
            <CallName>DoSomething</CallName>
            <DetailLevel>0</DetailLevel>
            <ErrorLanguage>EN</ErrorLanguage>
          </AfterbuyGlobal>
        </Request>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<Afterbuy>\r\n  <CallStatus>Error</CallStatus>\r\n
        \ <CallName>DoSomething</CallName>\r\n   <VersionID>8</VersionID>\r\n  <Result>\r\n
        \   <ErrorList>\r\n      <Error>\r\n        <ErrorCode>12</ErrorCode>\r\n
        \       <ErrorDescription><![CDATA[Unsupported CallName.]]></ErrorDescription>\r\n
        \       <ErrorLongDescription><![CDATA[Unsupported CallName.]]></ErrorLongDescription>\r\n
        \     </Error>\r\n    </ErrorList>\r\n  </Result>\r\n</Afterbuy>\r\n"
  recorded_at: Tue, 31 Mar 2015 09:09:41 GMT
recorded_with: VCR 2.9.3
