---
http_interactions:
- request:
    method: post
    uri: https://api.afterbuy.de/afterbuy/ShopInterfaceUTF8.aspx
    body:
      encoding: UTF-8
      string: Action=new&PartnerID=valid_partner_id&PartnerPass=valid_partner_password&UserID=valid_user_id
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\r\n<result>\r\n  <success>0</success>\r\n
        \ <errorlist>\r\n<error>UserId nicht vorhanden oder nicht freigegeben.</error>\r\n
        \ </errorlist>\r\n</result>\r\n"
  recorded_at: Tue, 05 May 2015 17:39:28 GMT
recorded_with: VCR 2.9.3
